﻿body,html {
    padding:0;
    margin:0;
    font-family:微软雅黑；
}
body,div,p{
     padding:0;
    margin:0;
}
#body{
    border:1px solid #999;
    width:100%;
    padding:20px;
    background:#eee;
    
}
#container{
    width:960px;
    margin:0 auto;
    position:relative;
}
#left{
     border:1px solid #999;
     width:200px;
     height:80px;
     padding:20px;
     background:#ffffff;
     position:relative;
    
}
    .team{
         float:left;
    }
    #left p{
        margin-left:100px;
        margin-top:-2px;
        font:20px;
        font-weight:800;
    }
#center{
      border:1px solid #999;
      padding:20px;
      background:#ffffff;
      width:600px;
       position:relative;
       left:280px;
       top:-120px;
}
#right{
      border:1px solid #999;
      width:120px;
      padding:20px;
      background:#ffffff;
      position:relative;
      left:960px;
      top:-438px;
}
    #right img{
        margin:0 auto;
        padding-bottom:4px;
        width:80px;
        height:80px;
        padding-left:20px;
    }

